        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 0;
            margin: 0;
        }

        .container {
            width: 100%;
            max-width: 500px;
            padding: 0 1rem;
        }

        .header-title {
            width: 600px;
            font-size: 1.25rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: 0.025rem;
            background-color: #1f2937;
            color: white;
            text-align: center;
            padding: 10px;
        }
        @media (min-width: 768px) {
            .header-title {
                font-size: 1.5rem;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .temple-subtitle {
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .image-frame {
            padding: 4px;
            border: none;
            box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);;
            border-radius: 0px;
            margin-bottom: 2rem;
            width: 100%;
            max-width: 384px;
        }
        .image-frame img {
            border-radius: 0.375rem;
            width: 100%;
            height: auto;
            display: block;
        }

        .card {
            width: 350px;
            background-color: #d3d3d3;
            padding: 1.7rem;
            border-radius: 0px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            margin-bottom: 1.5rem;
        }
        .card-heading {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
            border-bottom: 1px solid #d1d5db;
            padding-bottom: 0.25rem;
        }
        .card p {
            font-size: 0.875rem;
            font-weight: 500px;
            line-height: 1.5;
        }
        .card a {
            color: #2563eb;
            text-decoration: underline;
            font-weight: 500;
        }
        .card a:hover {
            color: #1d4ed8;
        }

        .info-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .info-list li {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
        }

        footer {
            margin-top: 3rem;
            width: 100%;
            max-width: 500px;
            padding: 0 1rem;
        }
        .footer-content {
            background-color: #1f2937;
            color: white;
            text-align: center;
            padding: 0.75rem 0;
            border-radius: 0.375rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }